body {
  font-size: 15px;
}
p {
  font-family: 'Poppins';
  color: hsl(229, 6%, 66%);
}
.attribution {
  font-size: 11px;
  text-align: center;
  margin: 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.card-ui {
  height: 100%;
}
.Main-Content {
  width: 40%;
  text-align: center;
  margin: 50px auto;
}
.Main-Content .light-heading {
  font-weight: lighter;
  color: hsl(229, 6%, 66%);
}
.Main-Content .dark-heading {
  color: hsl(234, 12%, 34%);
  font-weight: bolder;
  margin-bottom: 25px;
}
.all-cards {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: rgb(136 165 191 / 48%) 0px 6px 18px 0px,
    rgb(255 255 255 / 80%) -6px -2px;
  padding: 30px;
}
.all-cards > h5 {
  color: hsl(234, 12%, 34%);
  font-weight: bolder;
  margin-bottom: 15px;
}
.all-cards > p {
  width: 80%;
}
.all-cards > img {
  margin: 25px 0px;
  align-self: flex-end;
}

.left-card {
  border-top: 4px solid hsl(180, 62%, 55%);
  margin-bottom: 30px;
}
.Center-card .center-card1 {
  margin-bottom: 30px;
  border-top: 4px solid hsl(0, 78%, 62%);
}
.Center-card .center-card2 {
  border-top: 4px solid hsl(34, 97%, 64%);
  margin-bottom: 30px;
}
.right-card {
  margin-bottom: 30px;
  border-top: 4px solid hsl(212, 86%, 64%);
}
@media screen and (max-width: 992px) {
  .Main-Content {
    width: 60%;
  }
}
@media screen and (max-width: 576px) {
  .Main-Content {
    width: 90%;
    text-align: center;
  }
  .Main-Content .light-heading {
    font-size: x-large;
  }
  .Main-Content .dark-heading {
    font-weight: 500;
  }
  .all-cards {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
}
